* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    outline: none;
    text-decoration: none;
}

.box-img-fundo {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.img-fundo {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
}

.logo-dinheiro {
    display: block;
    margin: 0 auto;
    width: 400px;
    filter: invert(100%);
    opacity: 80%;
}

main {
    width: 375px;
    background: rgb(169, 208, 225);
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
    opacity: 70%;
}

label {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

select,
input {
    color: rgb(165, 164, 164);
    border: 1px solid;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

button {
    background: rgb(84, 154, 234);
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.9;
}

section {
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box {
    filter: invert(25%);
    margin: 10px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.currency {
    color: black;
    font-size: 14px;
}

.currency-convert,
.currency-value {
    color: rgb(97, 95, 95);
    font-weight: 700;
    font-size: 20px;
}

footer {
    color: white;
    text-align: center;
    margin: 50px;
}